/* 
Joshua Wong
Summer 2024
styles.css
*/

*
{
    color: white;
    user-select: none;
}

p
{
    padding: 10px;
    color: white;
}

label
{
    color: white;
}

.d-flex 
{
    margin-top: 50px;
}

.custom-width
{
    width: 50px;
}

.carousel-item:hover
{
    cursor: pointer;
}
