p
{
    padding: 10px;
    color: white;
}

label
{
    color: white;
}

.custom-width
{
    width: 50px;
}

/* Make the input placeholder white when having dark background */
.dark-placeholder::placeholder 
{
    color: white !important;
}