*
{
    color: white;
}

p
{
    padding: 10px;
    color: white;
}

label
{
    color: white;
}

.d-flex 
{
    margin-top: 50px;
}

.custom-width
{
    width: 50px;
}

.carousel-item.active {
    display:block;
}

/* Make the input placeholder white when having dark background */
.dark-placeholder::placeholder 
{
    color: white !important;
}
