{% extends "layout.html" %}

{% block body %}
<h1 class="text-center">Set: {{ name }}</h1>

<!-- Modal button to create flashcard -->
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create flashcard
    </button>
 </div>

 <!-- Modal to create the flashcard  -->
 <div data-bs-theme="dark" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new flashcard</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/flashcard" method="post">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Term:</label>
              <input type="text" name="term" class="form-control user_input" id="flashcard-name" required>

              <label for="recipient-name" class="col-form-label">Definition:</label>
              <input type="text" name="definition" class="form-control user_input" id="flashcard-name" required>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Make Card</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Display set -->
<div id="carouselExampleIndicators" class="carousel 
slide" style="margin: 5%;">
    <div class="carousel-inner border" style="background-color: #282829;">
    {% if empty_list %}
        <div style="border: 1px solid;" class="carousel-item active text-center">
            <p class="swap_card d-flex justify-content-center align-items-center"
            style="height: 500px; font-size: 50px;">
                Use add flashcard to add more cards!!!
            </p>
        </div>
    {% endif %}
    {% for term_list in cards %}
        <div style="border: 1px solid;" class="carousel-item {% if loop.first %}active{% endif %} text-center">
            <p class="swap_card d-flex justify-content-center align-items-center"
             style="width: auto; height: 500px; font-size: 3vw; overflow: hidden;">{{ term_list.term }}</p>
            <p class="def" hidden>{{ term_list.definition }}</p>
        </div>
    {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
    </button>
</div>

<!-- List out all the cards inside this set -->
<div class="container text-center" style="background-color: #282829;">
    <div class="row align-items-start">
        <div class="col border" style="font-size: 25px; font-weight: bolder;">
            Term
        </div>
        <div class="col border" style="font-size: 25px; font-weight: bolder;">
            Definition
        </div>
    </div>

    {% for list in cards %}
        <div class="row align-items-start">
                <div class="col" style="font-size: 18px;">
                    {{ list.term }}
                </div>

                <div class="col" style="font-size: 18px;">
                    {{ list.definition }}
                </div>
        </div>
    {% endfor %}
</div>

<!-- Pomodoro Timer -->
<div class="d-flex flex-column justify-content-center border" style="background-color: #282829;">
    <h3 class="border" style="text-align: center;">Pomodoro Timer</h3>

    <div>
        <h1 class="time" style="text-align: center; padding:5%; font-size: 150px; font-weight: bolder;">25:00</h1>
    </div>

    <div>
        <h4 class="progress_track" style="text-align: center; font-size: 30px;">0</h4>
    </div>

    <div class="d-flex justify-content-center" style="padding: 1%;">
        <button type="button" class="btn btn-primary timer">
            Time to focus.
        </button>
     </div>
</div>
{% endblock %}