{% extends "layout.html" %}

{% block body %}
<h1 class="text-center">Flashcard: {{ name }}</h1>

<!-- Display flashcards -->
<div id="carouselExampleIndicators" class="carousel 
slide" style="margin: 5%;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner border" style="padding: 20%; background-color: #282829;">
        <div class="carousel-item active text-center">
            <h3>lorem ipsum (imagine longer text)</h3>
        </div>
        <div class="carousel-item text-center">
            <h3>lorem ipsum (imagine longer text)</h3>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- List out all the cards inside this set -->
<div class="container text-center" style="background-color: #282829;">
    <div class="row align-items-start">
        <div class="col border" style="font-size: 25px; font-weight: bolder;">
            Term
        </div>
        <div class="col border" style="font-size: 25px; font-weight: bolder;">
            Definition
        </div>
    </div>

    <div class="row align-items-start">
        <div class="col" style="font-size: 18px;">
            Pee
        </div>
        <div class="col" style="font-size: 18px;">
            Poo
        </div>
    </div>
</div>

<!-- Pomodoro Timer -->
<div class="d-flex flex-column justify-content-center border" style="background-color: #282829;">
    <h3 class="border" style="text-align: center;">Pomodoro Timer</h3>

    <div>
        <h1 style="text-align: center; padding:5%; font-size: 150px; font-weight: bolder;">00:00</h1>
    </div>

    <div>
        <h4 style="text-align: center; font-size: 30px;">0</h4>
    </div>

    <form action="/flashcard" method="post">
        <div class="d-flex justify-content-center" style="padding: 1%;">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Start the pomo timer!
            </button>
         </div>
    </form>
</div>
{% endblock %}