{% extends "layout.html" %}

{% block body %}
    <p class="text-center fs-1 fw-bold">
        Welcome to Charming Flashcards!
    </p>

    <form action="/register" method="post">
        <div class="row justify-content-center input-group">
            <div class="col-md-4">
                <input type="text" class="form-control bg-dark text-light dark-placeholder mb-3" placeholder="Username">
                <input type="text" class="form-control bg-dark text-light dark-placeholder mb-3" placeholder="Password">
            </div>
        </div>
    </form>
{% endblock %}