{% extends "layout.html" %}

{% block body %}
<h1 class="text-center">Welcome, {{ name }}! &#128522;</h1>

<!-- Button trigger modal -->
 <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create flashcard
    </button>
 </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new flashcard</h1>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center" style="min-height: 0%;">
                <div class="col-md-4" data-bs-theme="dark">
                    <div class="input-group has-validation">
                        <input type="text" placeholder="Name" name="flashcard_name" 
                        class="form-control" 
                        aria-describedby="inputGroupPrepend" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}