{% extends "layout.html" %}

{% block body %}
<!-- Puts all the content into the center of the page -->
<div class="d-flex justify-content-center align-items-center" style="height: 75vh">

    <div class="text-center">
        <p class="text-center fs-1 fw-bold">
            Welcome to Charming Flashcards!
        </p>

        <!-- Centers the input fields below the text -->
        <form action="/" method="post" class="row justify-content-center g-3 needs-validation">

            <!-- Username Section -->
            <div class="col-md-4" data-bs-theme="dark">
                <label for="username" class="form-label">Username</label>

                <div class="input-group has-validation">
                    <input type="text" name="username" class="form-control"
                        aria-describedby="inputGroupPrepend" required>
                </div>
            </div>

            <!-- Password Section -->
            <div class="col-md-4" data-bs-theme="dark">
                <label for="password" class="form-label">Password</label>

                <div class="input-group has-validation">
                    <input type="password" name="password" class="form-control"
                        aria-describedby="inputGroupPrepend" required>
                </div>
            </div>

            <!-- Validate Password Section -->
            <div class="col-md-4" data-bs-theme="dark">
                <label for="password" class="form-label">Confirm Password</label>
            
                <div class="input-group has-validation">
                    <input type="password" name="confirm_pass" class="form-control"
                        aria-describedby="inputGroupPrepend" required>
                    </div>
                </div>

            <!-- Submits information -->
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Sign up! :D</button>
            </div>

        </form>

    </div>
    
</div>
{% endblock %}